<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Python Flask</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
	<div id="wrapper">
		<h1 id="h1">HELLO DAWG FANS!</h1>

		<img src="/static/miles.jpg">

		{% with messages = get_flashed_messages() %}
    	{% if messages %}
      	{% for message in messages %}
        <p>{{message}}</p>
      	{% endfor %}
    	{% endif %}
  		{% endwith %}

		<form action= "/success" method="post">
			<input type="text" name="name" placeholder="enter your name"><br>
			<input type="text" name="team" placeholder="favorite team?"><br>
			Where are you?<select id="location_select" name="location">
				<option value = "Seattle">Seattle</option>
				<option value = "Kailua-Kona">Kona</option>
				<option value = "Olympia">Olympia</option>
				<option value = "Shanghai">Shanghai</option>
			</select><br>
			Favorite Language:<select name="language">
				<option value="English">English</option>
				<option value="Russian">Russian</option>
				<option value="Spanish">Spanish</option>
				<option value="Chinese">Chinese</option>
			</select><br>
				<textarea name = 'comments' placeholder ="comments" rows="4" cols="43"></textarea>
			<input id="submit" type= "submit"  value="submit">
		</form>
	</div>
</body>
</html>


